<h1> New Place </h1>

<%= form_with :model => @place do|form| %>
    <p>
       <%= form.label "name" %>
       <%= form.text_field "name" %>
    </p>

    <p>
       <%= form.label "post title" %>
       <%= form.text_field "title" %>
    </p>

    <p>
       <%= form.label "date" %>
       <%= form.date_field "date" %>
    </p>

    <%= form.submit%>
<%end%>

<p><a href ="/places">Back to Places</a></p>
